.wrapper {
  width: 20%;
  height: 100%;
  padding-left: 12%;
  position: absolute;
  overflow-y: auto;

}

.textbox {
  padding-top: 20%;
}

.textbox h1{
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 15px;
  line-height: 42px;
  letter-spacing: 0.05em;


  color: #000000;
  padding-left: 0%;
  margin-bottom: 0%;
  margin-top: 10%;
}

.textbox p{
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  letter-spacing: 0.1em;
  margin-top: 1%;

  color: #000000;
}

.textbox a{
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 42px;
  letter-spacing: -0.02em;
  text-decoration: none;
  color: #1EA5AD;

}

.textbox a:hover{
  color: #E76060;
}

.pryde{
  background: linear-gradient(60deg, #1796E0, #99D85D, #FFAB3F);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pioneer{
  background: linear-gradient(60deg, #FFAB3F, #99D85D, #1796E0);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.netflix{
  background: linear-gradient(60deg, #B1060f, #e50913);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cusail{
  background: linear-gradient(60deg, #b31b1b, #65c8d0);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ieee{
  background: linear-gradient(60deg, #78C1FF, #0C1C8C);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tetris{
  background: linear-gradient(60deg, #D71037, #E35B02, #E39F00, #58B103, #0F9AD7, #2140C6, #AF298B);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.brand{
  background: linear-gradient(60deg, #E76060, #1EA5AD);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}