html {
    scroll-behavior: smooth;
}

body {
  font-family: "Assistant", sans-serif;
  padding: 0;
  margin: 0;
  background-color: #F4F4F4;
  overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #FFAA5B;
}

a:hover {
    color: #2D5D68;
    border-color: #2D5D68;
    transition: all .5s;
}

/* links in projects */
button:hover {
    color: #2D5D68;
    transition: color .5s;
}

.button{
    border: 1px solid #FFAA5B;
    border-radius: 4px;
    box-sizing: border-box;

    display: inline-block;
    height: 40px;
    padding: 0 15 0 15px;
    margin-bottom: 20px;
    margin-right: 20px;

    color: #FFAA5B;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;

    cursor: pointer;
}

/* fonts--------------------------------------------------------------------- */
/* name */
h1{
    font-family: 'Bitter', serif;
    /* font-size: 9vw; */
    font-size: 5vw;
    letter-spacing:0.2em;
    line-height: 175px;

    text-align: right;
    /* padding-left: 150px; */

    /* text-shadow: 0px 0px 20px #2D5D68; */
}
/* cornell university 22*/
h2{
    font-family: "Assistant", sans-serif;
    font-size: 4vw;
    font-weight: 500px;
    letter-spacing:0.25em;
    line-height: 10px;
    color: #F3E7C7;

    padding-left: 150px;
    text-align: left;

    text-shadow: 0px 0px 20px #2D5D68;
}
/* headers */
h3 {
    font-family: "Assistant", sans-serif;
    /* font-size: 130px; */
    font-size: 8vw;
    letter-spacing: 0.1em;
    line-height: 50px;
    text-align: center;
    margin-block-start: 0em;
    margin-block-end: 0.3em;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

h4 {
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 0.1em;
    line-height: 50px;
    /* text-align: right; */

    margin-block-start: 0em;
    margin-block-end: 0.3em;

}

h5 {
    font-family: 'Bitter', serif;
    font-size: 15pt;
    letter-spacing: 0.1em;
}

p{
    font-size: 12pt;
    letter-spacing: 0.1em;
    line-height: 1.4em;
}

/* navbar-------------------------------------------------------------------- */
.open-wrapper {
    height: auto;
    width: 50px;
    margin: 40px;
    position: fixed;
    z-index: 998;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: #F3E7C7;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  box-shadow: 1px 0px 20px #888888;
}

.sidenav a {
  padding: 16px 32px 16px 32px;
  letter-spacing:0.1em;
  text-decoration: none;
  font-size: 20px;
  color: #000000;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #F576;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/* top screen---------------------------------------------------------------- */
.title{
    margin: 0px;
    padding: 0px;
    z-index: -1;

    top:0vw;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    width: 100%;
    height: 100%;
    max-height: 850px;
}

.header-wrapper{
    text-align: left;
    width: 100%;

    margin:0px;
    padding:0px;
}

.header{
    position: relative;
    align: left;
    /* background-color: #E7F3FF; */
    /* display: inline-block; */

    /* top: 10vw; */

    /* margin-top:20px; */
    /* margin-bottom:100px; */

    margin: 0px;

    width: 100%;
    height: 35vw;
}

/* regular containers-------------------------------------------------------- */
.heading{
    background-color: #ECECEC;
    width: 100%;


    position: relative;
    /* min-height:867px; */
    margin: 0px;
    padding: 0px;
}

.basiccontain{
    position: relative;
    align: center;
    display: inline-block;
    top:0px;
    width: 100%;
        min-width: 50px;
    height: auto;
        min-height: 700px;
    z-index:0;
}

.flex{
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 7%;
  margin-right: 7%;
  z-index: 999px;
}

.text, .picture{
    position: relative;
    padding: 2%;
    padding-top:7%;
    padding-bottom:7%;
}

.picture {
    margin-left: 0;
    margin right: 0;
    width:600px;
    /* min-width: 150px; */
}

.picture img{
    width: 600px;
    height: 450px;
    box-shadow: 5px 5px 20px 0px #aaaaaa;
}

.mepicture {
    margin-left: 0;
    margin right: 0;
    width:400px;
    height: auto;
    /* min-width: 150px; */
}

.mepicture img{
    width: 400px;
    height: auto;
}

.text, .metext {
    width: 40%;
    min-width: 250px;
}

/* art----------------------------------------------------------------------- */
.art-text{
    position: relative;
    padding: 2%;
    padding-top:7%;
    padding-bottom:7%;
    width: 15vw;
    min-width: 200px;
    max-width: 400px;
    }

.art-flex{
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  z-index: 999px;
  margin: 0px;

  width: 65vw;
}

.portraitPicture{
    height: 270px;
    width: 180px;
    position: relative;
    margin:15px;
}

.overlayLand{
    left: 50px;
    top: 10px;
    height: 270px;
    width: 180px;
    opacity: 0;
    position: absolute;

    bottom: 0;
    right: 0;

    text-align: center;
}

.overlayPort{
    height: 270px;
    width: 180px;
    opacity: 0;
    position: absolute;

    top: 65px;
    left: 0;
    bottom: 0;
    right: 0;

    text-align: center;
}

.landscapePicture{
    width: 270px;
    height: 180px;
    position: relative;
    /* background-color: #FFE9ED; */
    margin: 15px;
    /* display: none; */
}

.landscapePicture img{
    height: 180px;
    width: 270px;
}

.portraitPicture img{
    width: 180px;
    height: 270px;
}

.portraitPicture:hover img{
    opacity: .2;
    transition: opacity .3s;
}

.landscapePicture:hover img{
    opacity: .2;
    transition: opacity .3s;
}

.landscapePicture:hover .overlayLand{
    opacity: 1;
    transition: opacity .3s;
}

.portraitPicture:hover .overlayPort{
    opacity: 1;
    transition: opacity .3s;
}

.design{
    width: 420px;
    height: 280px;
    position: relative;
    margin: 15px;
}

.design img{
    height: 280px;
    width: 430px;
}

.design:hover img{
    opacity: .2;
    transition: opacity .3s;
    cursor: pointer;
}
