.aboutpicture {
    margin-left: 0;
    width:40%;
    height: auto;
    padding-top: 25px;
    max-width: 500px;

}

.aboutpicture img{
    width: 90%;
    max-width: 100%;
    height: auto;
}

.img{
    position: relative;
}
