.articlewrapper {
  margin-bottom: 10em;
  width: 90%;
}

.articlewrapper h1{
  font-size: 30pt;
  margin-block-start: 2em;
}

.articleimage{
  width: 84%;
  margin-top: 20px;
  margin-left: 8%;
}

.smallimage{
  width: 60%;
  padding-left: 20%;
}

.articlewrapper iframe{
  height: 50vh;
  width: 80%;
  margin-left: 10%;
  margin-block-start: 2em;
  margin-block-end: 2em;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.galleryitem{
  width: 38.5%;
  height: auto;
  opacity: 1;
  margin: 2%;
  min-width: 300px;
}
.galleryitem img{
  width: 100%;
  height: auto;
  top: 0%;
  position: relative;
}

.caption p{
  text-align: center;
  font-style: italic;
  font-size: 12pt;

  margin-block-end: 5em;
}