.wrapper {
  margin-left: 24%;
  padding: 5%;
  padding-top: 0;
  width: 66%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #ffFCF4;
}

/* Title CSS */

.title {
  min-height: 100vh;
  z-index: 900;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.title h1 {
  margin-block-start: 0;
  margin-block-end: 0;
}

.heading {
  font-weight: 900;
  text-align: right;
  font-size: 10vw;
  line-height: 150px;
  padding-left: 0%;
  padding-top: 0%;
}

.blue {
  color: #1EA5AD
}

.red {
  color: #E76060
}

/* Profile */

.profiletext {
  width: 30%;
  padding-left: 5%;
}

.profiletext p {
  margin-block-start: 0em;
}

.flexrow {
  display: flex;
}

.flexrow img {
  width: 60%;
  object-fit: contain;
  align-self: baseline;
}

.arrow {
  border: solid #1EA5AD;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 7px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.arrowWrapper {
  margin: 20%;
  margin-left: 45%;
}

.arrowWrapper:hover {
  opacity: .75;
  transform: translateY(3px);
  transition: 0.25s;
}

/* Resume */
.textbox {
  padding-bottom: 10vh;
  width: 50%;
  padding-right: 5%;
}

.textbox h1 {
  font-weight: 800;
  font-size: 15px;
  line-height: 42px;
  letter-spacing: 0.05em;
  margin-bottom: 0%;
  margin-top: 5%;
  text-transform: uppercase;
}

.textbox p {
  font-size: calc(12px + 0.5vw);
  margin-top: 1%;
  font-weight: 300;
  margin-left: 5%;
}

.textbox a {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: -0.02em;
  text-decoration: none;
  color: #1EA5AD;
}

.textbox a:hover {
  color: #E76060;
}

.section {
  margin-bottom: 20%;
}

.job {
  margin-bottom: 10px;
}

.nonlinkjob {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: -0.02em;
  text-decoration: none;
  color: #000000;
}

.description {
  margin-left: 10px;
  font-weight: 400;
}

.morelinks a {
  font-size: calc(12px + 0.5vw);
  margin-right: 10px;
}

.skills {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.skills h1, .projects h1 {
  min-width: 130px;
  font-weight: 700;
  text-transform: none;
  letter-spacing: 0;
  font-size: calc(12px + 0.5vw);
}

.skills p {
  margin-left: 0;
}

.imagehover {
  width: 30%;
}

.imagehover img {
  position: fixed;
  top: 0;
  margin-top: 5%;
  margin-left: 3%;
  width: 23%;
  visibility: hidden;
  transition: 0.15s;
}

@media only screen and (max-width: 800px) {
  .flexrow img {
    margin-bottom: 5%;
  }
  .flexrow {
    flex-direction: column;
  }
  .profiletext {
    width: 95%;
    padding-left: 0;
  }
}

@media (hover:none) {
  .imagehover {
    display: none;
  }
  .textbox {
    width: 95%;
  }
}

@media screen and (max-width: 550px) {
  .wrapper {
    margin-left: 0;
    padding-right: 5%;
    width: 90%
  }
  .textbox p {
    font-size: initial;
  }
  .description {
    display: block;
  }
}