.wrapper {
  margin-left: 24%;
  padding: 5%;
  padding-top: 0;
  width: 66%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #ffFCF4;
}

.flexrow{
  display: flex;
}

.title {
  height: 100vh;
  z-index: 900;
}

.heading {
  font-weight:900;
  text-align: right;
  font-size: 10vw;
  line-height: 150px;
  padding-left: 0%;
  padding-top: 0%;
}

.profiletext{
  width: 30%;
  padding-left: 5%;
}

.profiletext p{
  margin-block-start: 0em;
}

.blue {
  color: #1EA5AD
}

.red {
  color: #E76060
}

.flexrow img{
  width: 60%;
  object-fit: cover;
}

.titlecaption{
  font-weight: 300;
  font-size: 35px;
  line-height: 42px;
  padding-bottom: 2%;
}

.tags {
  font-weight: lighter;
  font-size: 1.2vw;

}

.skills {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}


a {
  text-decoration: none;
  color: #1EA5AD;
  
}

a:hover {
  color: #E76060;
}

.textbox {
  padding-bottom: 10vh;
  width:50%;
  padding-right: 5%;
}

.textbox h1{
  font-weight: 800;
  font-size: 15px;
  line-height: 42px;
  letter-spacing: 0.05em;
  margin-bottom: 0%;
  margin-top: 5%;

  text-transform: uppercase;
}

.textbox p{
  font-size: 2vh;
  /* letter-spacing: 0.1em; */
  margin-top: 1%;
  font-weight: 300;
  margin-left: 5%;
  
  /* text-transform: uppercase; */
}

.textbox a{
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: -0.02em;
  text-decoration: none;
  color: #1EA5AD;

}

.textbox a:hover{
  color: #E76060;
}

.job{
  margin-bottom: 10px;
}

.nonlinkjob{
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: -0.02em;
  text-decoration: none;
  color: #000000;
}

.skills h1, .projects h1 {
  font-weight: 700;
  text-transform: none;
  letter-spacing: 0;
  font-size: 2vh;
}

.skills p {
  margin-left: 0;
}

.description {
  margin-left: 10px;
  font-weight: 400;
}

.hovertext {
  width: 30%;
}

.hovertext img {
  position: fixed;
  top: 0;
  margin-top: 10%;
  margin-left: 3%;
  width: 23%;
  visibility: hidden;
}

.section {
  margin-bottom: 20%;
}



@media only screen and (max-width: 550px){
}
